/* color */
$color-white:#ffffff;
$color-gold : #E5AB55;
$color-alert : #EB5757;
$color-dark: #004353;
$color-gray :#4F4F4F;
$color-gray2 :#828282;
$lg-screen : 1044px;
$small : 1.2rem;
$nomal : 1.4rem;
$medium: 1.6rem;
$large : 2.0rem;
$x-large: 4.8rem;


/*Responsive screen*/

$extra-small : 320px;
$mobile-landscape: 480px;
$mobile: 640px;
$handheld: 768px;
$small-desktop: 960px;
$handhelds-landscape: 1024px;
$large-desktop: 1200px;
$design-screen: 1280px;

