<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/font-awsome-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <div class="container">
        <div class="register__form">
            <div class="register__form__countdown">
                <p class="text-center">Thời gian ưu đãi còn</p>
                <ul class="countdown__list d-flex">
                    <li>
                        <p id="countdown-days">10</p>
                        <p>Ngày</p>
                    </li>
                    <li>
                        <p id="countdown-hours">12</p>
                        <p>Giờ</p>
                    </li>
                    <li>
                        <p id="countdown-minutes">45</p>
                        <p>Phút</p>
                    </li>
                    <li>
                        <p id="countdown-seconds">14</p>
                        <p>Giây</p>
                    </li>
                </ul>
            </div>
            <div class="register__form__textbox">
                <h4>Đăng kí ngay</h4>
                <p>Chi còn 9 xuất</p>
                <form action="">
                    <input placeholder="Họ và tên" type="text" name="" id="">
                    <input placeholder="Điện thoại liên hệ" type="text" name="" id="">
                    <button class="btn--submit btn--shadow">
                        Đăng kí ngay
                    </button>
                </form>
            </div>
        </div>
        <div class="register__banner">
            <div class="register__banner__textbox">
                <h4>Môi hồng tự nhiên</h4>
                <p>Căng mịn thêm phần quyến rũ</p>
            </div>
            <img src="../uploads/form-banner-anh-mau.png" alt="">
            <div class="saleoff__box">
                <span>50</span>
                <div class="saleoff__box__percent">
                    <p>%</p>
                    <p>OFF</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-6 register__img">
            <img src="" alt="">
        </div>
        <div class="col-4 register__containt">
            <div class="block__register">
                <h2>Sign Up</h2>
                <form class="block__register__form" action="">
                    <div class="register__form__input">
                        <input placeholder=" " type="text">
                        <label for="">Name</label>
                    </div>
                    <div class="register__form__input">
                        <input placeholder=" "  type="text">
                        <label for="">Name</label>
                    </div>
                    <div class="register__form__input">
                        <input placeholder=" "  type="text">
                        <label for="">Email address</label>
                    </div>
                    <div class="register__form__input">
                        <input placeholder=" "  type="password">
                        <label for="">Password</label>
                    </div>
                    <div class="register__form__input">
                        <input placeholder=" "  type="password">
                        <label for="">Password repeat</label>
                    </div>
                    <div class="submit__agree d-flex">
                        <input placeholder=" "  type="checkbox" checked="checked">
                        <span>I agree to the Terms of User</span>
                    </div>
                    <div class="submit__button">
                        <button class="btn--signup">Sign Up</button>
                        <button class="btn--signin">Sign in <i class="fas fa-long-arrow-alt-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../scripts/script.js"></script>

</html>
