/* color */
/* color */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

button {
  outline: 0;
  background: transparent;
  border: 0;
}
button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.6;
}

p, span, a {
  font-family: Roboto-300;
}

h1, h2, h3, h4 {
  font-family: Roboto-500;
}

input {
  border: 0;
  margin-top: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  color: #555;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ol,
ul {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  clear: both;
  display: block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Add your css into here*/
.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

/* color */
/* color */
.register__img {
  width: 66.6666666667%;
  flex-basis: 66.6666666667%;
  background-image: url('../uploads/register-img.jpg');
  background: linear-gradient(0deg, rgba(12, 12, 12, 0.3), rgba(12, 12, 12, 0.3)),  url('../uploads/register-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.register__containt {
  width: 33.3333333333%;
  flex-basis: 33.3333333333%;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3rem 0.3rem 1em rgba(0, 0, 0, 0.3);
  padding: 5rem 3rem 8rem 3rem;
}
.register__containt .block__register h2 {
  font-size: 4rem;
  color: #004353;
}
.register__containt .block__register__form .register__form__input {
  position: relative;
}
.register__containt .block__register__form .register__form__input input {
  display: block;
  width: 100%;
  border: solid 1px #bdbdbd;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
}
.register__containt .block__register__form .register__form__input input:focus {
  border: solid 1px #090979;
  z-index: 2;
}
.register__containt .block__register__form .register__form__input input:focus + label {
  top: 0;
  background-color: #ffffff;
  padding: 0 1rem;
  opacity: 1;
  left: 1rem;
  display: inline-block;
  color: #000;
}
.register__containt .block__register__form .register__form__input input:not(:placeholder-shown) + label {
  top: 0;
  background-color: #ffffff;
  padding: 0 1rem;
  opacity: 1;
  left: 1rem;
  display: inline-block;
}
.register__containt .block__register__form .register__form__input label {
  background-color: #ffffff;
  position: absolute;
  color: #bdbdbd;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  left: 1.8rem;
  font-family: Roboto-300;
  user-select: none;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.register__containt .block__register__form input[type=checkbox] {
  width: 2rem;
  height: 1.5rem;
  margin: 0;
}
.register__containt .block__register__form input[type=checkbox]:hover {
  cursor: pointer;
}
.register__containt .block__register__form .submit__agree {
  margin-top: 2rem;
}
.register__containt .block__register__form .submit__agree span {
  line-height: 1.3;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.register__containt .block__register__form .submit__button {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.register__containt .block__register__form .submit__button .btn--signup {
  padding: 1rem 4rem;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 2rem;
  background: #020024;
  background-image: linear-gradient(to right, #007bff, #009996);
  transition: background-image 1s linear;
}
.register__containt .block__register__form .submit__button .btn--signup:hover {
  background-image: linear-gradient(to right, #007bff 100%, #009996 50%);
}
.register__containt .block__register__form .submit__button .btn--signin {
  position: relative;
  padding: 0 0.8rem;
}
.register__containt .block__register__form .submit__button .btn--signin i {
  transition: all 0.2s;
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translateY(-50%);
}
.register__containt .block__register__form .submit__button .btn--signin:hover i {
  transform: translateX(0.4rem);
  margin-left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  left: 96%;
}

/* color */
/* color */
.register__form {
  background: #E5AB55;
  padding: 5rem;
  width: 50%;
}
.register__form .register__form__countdown ul {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.register__form .register__form__countdown ul li p:first-of-type {
  font-size: 4.8rem;
  color: #ffffff;
  background-color: #EB5757;
  border-radius: 1.6rem;
  padding: 1.5rem;
  margin: 0 1rem;
}
.register__form .register__form__countdown ul li p:last-of-type {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
}
.register__form .register__form__countdown > p {
  font-size: 2.2rem;
  color: #ffffff;
}
.register__form .register__form__textbox h4 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 6.7rem;
}
.register__form .register__form__textbox > p {
  font-size: 2.2rem;
  line-height: 115%;
  text-align: center;
  color: #004353;
}
.register__form .register__form__textbox form {
  display: flex;
  flex-direction: column;
  max-width: calc((298 / 522) * 100%);
  margin: 0 auto;
}
.register__form .register__form__textbox form input {
  padding: 1.2rem;
  border-radius: 16px;
}
.register__form .register__form__textbox form input::placeholder {
  opacity: 0.5;
  font-size: 1.4;
}
.register__form .register__form__textbox form button {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: calc((298 / 522) * 100%);
}

.register__banner {
  width: 50%;
  background: url("../uploads/form-banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding: 5rem;
  position: relative;
  animation: animatedBackground 5s linear infinite;
  -moz-animation: animatedBackground 5s linear infinite;
  -webkit-animation: animatedBackground 5s linear infinite;
  -ms-animation: animatedBackground 5s linear infinite;
  -o-animation: animatedBackground 5s linear infinite;
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
@-ms-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
@-o-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
.register__banner .register__banner__textbox h4 {
  font-size: 20px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #E5AB55;
}
.register__banner .register__banner__textbox p {
  font-weight: normal;
  font-size: 22px;
  color: #004353;
}
.register__banner img {
  width: calc 68.9655172414%;
  margin: 0 auto;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
.register__banner .saleoff__box {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 156px;
  min-height: 156px;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  bottom: calc((93 / 522) * 100% );
  right: calc((40 / 522) * 100% );
  background: linear-gradient(127.21deg, #bd6728 -43.73%, #c47330 -32.67%, #d79345 -12.63%, #f5c767 13.92%, #ffd872 22.11%, #f1c062 33.65%, #d59043 59.29%, #c4722f 78.87%, #bd6728 89.95%);
}
.register__banner .saleoff__box span {
  font-size: 9.6rem;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.register__banner .saleoff__box .saleoff__box__percent {
  color: #ffffff;
}
.register__banner .saleoff__box .saleoff__box__percent p:first-of-type {
  font-size: 3.4rem;
}
.register__banner .saleoff__box .saleoff__box__percent p:last-of-type {
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}


.container {
  width: 1040px;
  margin: 4rem auto 5rem auto;
  display: flex;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}
@font-face {
  font-family: Roboto-700;
  src: url(../resources/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-900;
  src: url(../resources/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-300;
  src: url(../resources/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-500;
  src: url(../resources/fonts/Roboto/Roboto-Medium.ttf);
}

.btn--shadow {
  background: #E5AB55;
  box-shadow: 0px 4px 20px #C17607;
  border-radius: 16px;
  padding: 1.2rem;
  font-size: 14px;
  color: #ffffff;
}


/*# sourceMappingURL=index.css.map */
